.idea/
data/
data

archive/

results*/
screenlog*

test-sv/
fast_paper/results_while_writting/

# results
*.pdf
*.err
*.out

# IPython Notebook
*.ipynb
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

